# Web Scraping in Python Zero to Hero 
# Assignment 
## Name - R.Hariharan
## Email id - rhariharan1701@gmail.com

In [143]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [144]:
url = "https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?%22%20%5Cl%22countries"
data = requests.get(url)
soup = BeautifulSoup(data.text,'html5lib')

In [145]:
tables = soup.find_all('table')
table_header = tables[0].find_all('th')
table_head = ['Country,Other','TotalCases','NewCases','TotalDeaths','TotalRecovered','activeCases']
print(table_head)

['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'TotalRecovered', 'activeCases']

In [146]:
Covid_data = pd.DataFrame(columns=table_head)
for row in tables[0].tbody.find_all('tr'):
  col = row.find_all('td')
  if (col != []):
    country = col[1].text.strip()
    totalCases = col[2].text.strip()
    newCases = col[3].text.strip()
    totalDeaths = col[4].text.strip()
    totalRecovered = col[5].text.strip()
    activeCases = col[6].text.strip()
    Covid_data = Covid_data.append({"Country,Other":country,"TotalCases":totalCases,"NewCases":newCases,
                                    "TotalDeaths":totalDeaths,"TotalRecovered":totalRecovered,
                                    "ActiveCases":activeCases},ignore_index=True)

In [147]:
Covid_data_frame = Covid_data.drop('activeCases',1)

In [148]:
Covid_data_frame.shape

(230, 6)

In [149]:
Covid_data_frame.head(10)

,"Country,Other",TotalCases,NewCases,TotalDeaths,TotalRecovered,ActiveCases
0,North America,"44,876,434","+23,136","960,197",+302,"36,326,308"
1,Asia,"66,235,955","+204,718","969,459","+3,601","61,629,277"
2,South America,"36,297,561","+1,037","1,112,282",+47,"33,997,574"
3,Europe,"53,408,141","+83,638","1,151,612","+1,001","48,336,895"
4,Africa,"7,350,329","+19,485","184,697",+641,"6,456,888"
5,Oceania,"129,881",+874,"1,774",+32,"92,166"
6,,721,,15,,706
7,World,"208,299,022","+332,888","4,380,036","+5,624","186,839,814"
8,USA,"37,469,989","+3,271","637,572",+11,"30,155,008"
9,India,"32,249,573","+24,398","432,110",+436,"31,440,221"